.lorem-span{
	padding: 4px;
	display: inline-block;
	float: left;
}
.lorem-span.color1{
	background-color: lightcyan;
}
.lorem-span.color2{
	background-color: lightcoral;
}
.lorem-span.color3{
	background-color: lightyellow;
}

*{
	box-sizing: border-box;
}

p{
	border: 1px black;
	background-color: darkseagreen;
	width:90%;
	height: 350px;
	margin-left: 10px;
	margin-right: 10px;
	overflow: auto;
}



h1{
	text-align: center;
	color: blakc;

}
body {
	background-color: #DAF7A6;
}
p{
	border: 1px black;
	width: 33,33%;
	font-family: helvetica;
}
.row {
	width: 100%;
	display:flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

@media (min-width: 992px){
	.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12{
		float: left;
		border: 1px black;

	}
	.col-lg-1{
		width: 8,33%;
	}
 	.col-lg-2 {
 		width: 16.66%;
 	}
 	.col-lg-3{
 		width: 25%;
 	}
 	.col-lg-4{
 		width: 33%;
 	}
 	.col-lg-5{
 		width: 41.66%;
 	}
 	.col-lg-6{
 		width: 50%;
 	}
 	.col-lg-7{
 		width:58,33%;
 	}
 	.col-lg-8{
 		width: 66,66%;
 	}
 	.col-lg-9{
 		width: 74,99%;
 	}
 	.col-lg-10{
 		width: 83,33%;
 	}
 	.col-lg-11{
 		width: 91,66%;
 	}
 	.col-lg-12{
 		width: 100%;
 	}
.col-lg-3 {
	text-align: center;
}

@media (min-width: 768px) and (max-width:991px){
	.custom-col{
		width: 50%;

}
@media (min-width: 767px){
	.costom-col{  
		width: 100%;
}
