
@media (min-width: 768px){
	.nav-item {
		display: none;
	}
	h1{
		margin: 10px;
		text-align: center;
		margin-bottom: 20px;
	}
	
	.recuadro{
	
		border: 2px solid#000;
		padding: 10px;
		background-color: grey;
		width: 750px;
		margin: 0 auto;
		margin-bottom: 20px;
	
	}
	h2{
		text-align: center;
		margin-bottom: 10px;
	}
	
}

@media (max-width: 767px) { 
	body {
		font-size: 14px;
	}
	h1, h2, p {
		font-size: 16px;

	}
.recuadro{
	border: 2px solid #000;
	padding: 10px;
	background-color: grey;
	width: auto;
	margin-bottom: 20px;
}
h2{
	text-align: center;
	margin-bottom: 10px;
}
h1{
	text-align: center;
	font-size: 25px;
}

 }



 